{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="navbar">
    <ul class="navbar__list-items">
      <li class="active">
        <a href="/examples/lgfs/all-claims-list">Manage active claim</a>
      </li>
      <li>
        <a title="View archived claims" href="#noop">View past claims</a>
      </li>
      <li>
        <a title="Start a new claim" href="/examples/lgfs/bill-type/">Start a claim</a>
      </li>
    </ul>
  </div>

  <h1 class="heading-xlarge">
    Manage active claim
    <span class="heading-secondary">November 2017</span>
  </h1>

  <p>This claim must be submitted by December 10 2017.</p>

  <div class="grid-row mod-cost-summary">
    <div class="column-one-third">
      <h2 class="heading-large">
        <span class="heading-secondary">Total claim</span>
        £0.00
      </h2>
    </div>

    <div class="column-one-third">
      <h2 class="heading-large">
        <span class="heading-secondary">Number of cases</span>
        0
        <span class="heading-secondardy">
          
        </span>
      </h2>
      <a href="active-claim-2" class="button">Upload cases</a>
    </div>

    
  

</main>

{% endblock %}
