{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
       
        <h1 class="heading-xlarge">
          Check your answers
        </h1>

        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt class="cya-question">
              File uploaded
            </dt>
            <dd class="cya-answer">
                HPCDS_November_2017_Claim.xls
            </dd>
            <dd class="cya-change">
                <a href="<?= $this->e($changeURL) ?>">
                    Change<span class="visually-hidden">file</span>
                </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Number of cases
            </dt>
            <dd class="cya-answer">
              256
            </dd>
            <dd class="cya-change"></dd>
          </div>
          <div>
            <dt class="cya-question">
              Total claim
            </dt>
            <dd class="cya-answer">
              £5,403
            </dd>
            <dd class="cya-change"></dd>
          </div>
          <div>
            <dt class="cya-question">
              Claim period
            </dt>
            <dd class="cya-answer">
              November 2017
            </dd>
            <dd class="cya-change"></dd>
          </div>
        </dl>
    
        <h2 class="heading-medium">Statement of truth</h2>
        
        <p>By submitting this claim you confirm that to the best of your knowledge:</p>
    
        <ul class="list list-bullet">
            <li>you're entitled to claim</li>
            <li>the details you've given are correct</li>
        </ul>
    
        <p class="text">
            You agree to the <a href="terms">terms and conditions</a> and that details
            you've given will be securely stored and used to process your claim.
        </p>
        
        <div class="form-group">
            <a href="success" class="button">Confirm and submit claim</a>
        </div>

    </div>
    
  </div>

</main>

{% endblock %}
