{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">December 2017 Claims</h1>

      <table>
        <thead>
          <tr>
            <th>Scheme name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Aberdare, Merthyr Tydfil, Pontypridd</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Aberystwyth, Brecknock, Welshpool & Newtown</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Blackwood, Newport (Gwent), Pontypool</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Bridgend, Cardiff</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Caernarfon, Conwy & Colwyn, Llangefni</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Carmarthen, Haverfordwest, Llanelli</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Mold, Rhyl, Wrexham</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Neath & Port Talbot, Swansea</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>  
  </div>

</main>

{% endblock %}
