{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Providers</h1>

      <div class="form-group">
        <label for="" class="form-label">Search for provider</label>
        <input type="text" class="form-control">
      </div>

      <table>
        <thead>
          <tr>
            <th>Provider name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Brighton Housing Trust</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Burd Ward Solicitors</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Community Law Service (Northampton and County)</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Cumbria Law Centre</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Edwards Duthie</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Foundation</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Greenwich Housing Rights</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Hammersmith & Fulham Law Centre</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Hillingdon Law Centre</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Howells LLP</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Keoghs and Nicholls Lindsell & Harris</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Medway District CAB</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">Shelter</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Shelter Cymru</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">South West Law</a></td>
            <td><strong class="task-completed" id="eligibility-completed">Submitted</strong></td>
          </tr>
          <tr>
            <td><a href="">SSP Law</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">The Community Law Partnership</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Wiltshire Law Centre</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>  
  </div>

</main>

{% endblock %}
