<h2 class="heading-medium">Schemes and fees</h2>

      <table>
        <thead>
          <tr>
            <th>Scheme name</th>
            <th>Fee (excluding VAT)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aberdare, Merthyr Tydfil, Pontypridd</td>
            <td>£87.50</td>
          </tr>
          <tr>
            <td>Aberystwyth, Brecknock, Welshpool & Newtown</td>
            <td>£75.50</td>
          </tr>
          <tr>
            <td>Blackwood, Newport (Gwent), Pontypool </td>
            <td>£72.00</td>
          </tr>
          <tr>
            <td>Bridgend, Cardiff</td>
            <td>£89.50</td>
          </tr>
          <tr>
            <td>Caernarfon, Conwy & Colwyn, Llangefni</td>
            <td>£81.50</td>
          </tr>
          <tr>
            <td>Carmarthen, Haverfordwest, Llanelli</td>
            <td>£67.20</td>
          </tr>
          <tr>
            <td>Mold, Rhyl, Wrexham</td>
            <td>£57.80</td>
          </tr>
          <tr>
            <td>Neath & Port Talbot, Swansea</td>
            <td>£87.50</td>
          </tr>
        </tbody>
      </table>