{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
       
        <h1 class="heading-xlarge">
          Corrections
        </h1>

        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
            Make corrections then upload the file again
          </h2>

          <p>File: HPCDS_Jan_2018_Claim.xls</p>
    
        </div>

        <div class="form-group">
            <a href="landing-3" class="button">Back to file list</a>
        </div>
        
        <table class="align-top">
          <thead>
            <tr>
              <th>Column heading</th>
              <th>Errors</th>
              <th style="width: 65%;">Correction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Court</td>
              <td><a href="court-errors">View 3 errors</a></td>
              <td>
                <p>You must give the agreed name for the court - exactly as given in the court allowed value list.</p>
              </td>
            </tr>
            
          </tbody>
        </table>
        
        

    </div>
    
  </div>

</main>

{% endblock %}
