{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
       
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
            Correct date of session errors
          </h2>

          <p>You must format the date as set out in the data formatting rules.</p>
          <p>See the <a href="">data formatting rules</a>.</p>
        </div>

        <div class="form-group">
            <a href="corrections" class="button">Back to corrections list</a>
        </div>
        
        <table class="align-top">
          <thead>
            <tr>
              <th>Row number(s)</th>
              <th>Error</th>
              <th style="">Your data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>R</td>
              <td>Future date</td>
              <td>27/12/2017</td>
            </tr>
            <tr>
              <td>AL</td>
              <td>Invalid date</td>
              <td>24/102017</td>
            </tr>
          </tbody>
        </table>
        
        

    </div>
    
  </div>

</main>

{% endblock %}
