{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <form action="/sign-in" method="post" class="form">
        
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-xlarge">Upload and check your data</h1>
          </div>
          <div class="column-one-third">
            <p style="text-align: right">
              You are logged in as <a href="#">User 51</a><br>
              Last visit 13.11.2017
            </p></div>
        </div>

        <div class="form-group">
            <a href="landing-4" class="button button-secondary">Choose spreadsheet</a>
        </div>

      </form>

      <table>
          <thead>
            <tr>
              <th>File name</th>
              <th>Status</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>HPCDS_November_2017_Claim.xls</td>
              <td><span style="display: inline-box; color: red; border: 2px solid red; padding: 2px 4px 0px 4px; font-weight: bold;">Data error</span></td>
              <td><a href="corrections">Show corrections</a></td>
              <td><a href="">Remove</a></td>
            </tr>
          </tbody>
        </table>

        <a class="button" disabled="disabled" aria-disabled="true" style="margin-top: 30px;">Continue</a>

    </div>
    
  </div>

  <div class="grid-row">
      <div class="column-full">
  
        <h2 class="heading-medium">Other actions</h2>
        <ul>
          <li><a href="submitted-claims">Submitted claims</a></li>
          <li><a href="user-account">User account</a></li>
        </ul>
      </div>
    </div>

</main>

{% endblock %}
