{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
        
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-large">Howells LLP</h1>
            <p><span class="bold">Account number: </span> 2M282N | <span class="bold">Scheme: </span> Sheffield</p>
          </div>
          <div class="column-one-third">
            <p style="text-align: right">
              You are logged in as <a href="#">User 51</a><br>
              Last visit 19.01.2018
            </p>
          
          </div>
        </div>

      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        
      </div>
    </div> 
    
    <h2 class="heading-medium">Todos</h2>

    <h3 class="heading-small">January 2018</h3>
    <p>You must <a href="">upload and send reports</a> or <a href="">tell us you don't have a report</a> before 20 February 2018.</p>
        
    <h3 class="heading-small">February 2018</h3>
    <p>You'll be able to upload and send report for February once the reporting period starts.</p>

    <h3 class="heading-small">March 2018</h3>
    <p>You'll be able to upload and send report for March once the reporting period starts.</p>


    <h2 class="heading-medium">Done</h2>

    <h3 class="heading-small">December 2017</h3>
    <p>You submitted this on 18 January 2018.</p>
    
    <h3 class="heading-small">November 2017</h3>
    <p>You submitted this on 19 December 2018.</p>

    <h3 class="heading-small">October 2017</h3>
    <p>You submitted this on 17 November 2018.</p>

    <h3 class="heading-small">September 2017</h3>
    <p>You submitted this on 19 October 2018.</p>

</main>

{% endblock %}
