{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
       
        <h1 class="heading-xlarge">
          Your upload
        </h1>

        <p>Thank you for uploading.</p>

        <p>17/11/2017 | Provider ID | 256 cases</p>  

        <p>It can now be claimed.</p>
        
        <div class="form-group">
            <a href="success" class="button">Submit claim</a>
        </div>

    </div>
    
  </div>

</main>

{% endblock %}
