{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="../v1/">Home</a></li>
      <li><a href="providers">Providers</a></li>
      <li>Brighton Housing Trust</li>
    </ol>
  </div>

  <h1 class="heading-large">Brighton Housing Trust <sup><span class="label--red">Flagged: Potential contract lapse</span></sup></h1>
  
  <p>
    <a href="#">Scheme and Schedules</a> | 
    <a href="#">Contract</a> |
    <a href="#">Reports</a>
  </p>

  <p>Contract expires in 8 months</p>
  
  <h2 class="heading-medium">Summaries</h2>

  <h3 class="heading-small">10/12/17 Martine Smith / Contract manager:</h3>
  <p>Had a phone call with Tony Miller who 
    heads up the Brighton office and the office seems to be in danger of being closed.
    A decision won't be made until January but we should be prepared that this contract
    could lapse very quickly. <a href='#'>See more</a></p>


  <h2 class="heading-medium">Payments Overview</h2>

  <div class="grid-row">
    
    <div class="column-quarter">
      <div class="data">
        <span class="data-item bold-medium">£4,981.47</span>
        <span class="data-item bold-xsmall">Last month</span>
      </div>        
    </div>
    <div class="column-quarter">
      <div class="data">
        <span class="data-item bold-medium">£5,113.71</span>
        <span class="data-item bold-xsmall">October 2017</span>
      </div>        
    </div>
    <div class="column-quarter">
      <div class="data">
        <span class="data-item bold-medium">£50,178.53</span>
        <span class="data-item bold-xsmall">in 2017</span>
      </div>        
    </div>
  </div>

  <p><a href="">View payments data</a></p>
  
  <h2 class="heading-medium">
    Claims
  </h2>

  <h3 class="heading-small">November 2017</h3>

  <table>
    <thead>
      <tr>
        <th>Scheme</th>
        <th>Amount claimed</th>
        <th>Performance</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Eastbourne</td>
        <td>£3,491.56</td>
        <td>128%</td>
        <td>In review</td>
      </tr>
      <tr>
        <td>Hastings, Lewes</td>
        <td>£2,361.16</td>
        <td>86%</td>
        <td>Approved</td>
      </tr>
      <tr>
        <td>Brighton</td>
        <td>£1,321.88</td>
        <td>31%</td>
        <td>Amended</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p><a href="#">View claims for all months</a></p>

  <h2 class="heading-medium">
    Recent provider requests
  </h2>
  
  <table>
    <thead>
      <tr>
        <th>Date received</th>
        <th>Request made</th>
        <th>Request granted</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>09/12/2017</td>
        <td>Schedule amendment</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>09/10/2017</td>
        <td>Schedule amendment</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>01/07/2017</td>
        <td>Schedule amendment</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>

  <br>
  <p><a href="#">View all provider requests</a></p>

</main>

{% endblock %}
