{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
      <ol>
        <li><a href="https://www.gov.uk">Home</a></li>
        <li><a href="providers">Providers</a></li>
        <li>Brighton Housing Trust</li>
      </ol>
    </div>

  <h1 class="heading-large">Brighton Housing Trust</h1>

  <p>
    <a href="#">View schedule</a> | 
    <a href="#">View contract</a> |
    <a href="#">View reports</a>
  </p>

  <p>Contract expires in 8 months</p>
  
  <h2 class="heading-medium">Payments Overview</h2>

  <div class="grid-row">
    
    <div class="column-third">
      <div class="data">
        <span class="data-item bold-xlarge">£4,981.47</span>
        <span class="data-item bold-small">Last month</span>
      </div>        
    </div>
    <div class="column-third">
      <div class="data">
        <span class="data-item bold-xlarge">£5,113.71</span>
        <span class="data-item bold-small">October 2017</span>
      </div>        
    </div>
    <div class="column-third">
      <div class="data">
        <span class="data-item bold-xlarge">£50,178.53</span>
        <span class="data-item bold-small">in 2017</span>
      </div>        
    </div>
  </div>

  <p><a href="">View payments data</a></p>
  
  <h2 class="heading-medium">
    Claims
  </h2>

  <h3 class="heading-small">November 2017</h3>

  <table>
    <thead>
      <tr>
        <th>Scheme</th>
        <th>Amount claimed</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Eastbourne</td>
        <td>£3,491.56</td>
        <td>In review</td>
      </tr>
      <tr>
        <td>Hastings, Lewes</td>
        <td>£2,361.16</td>
        <td>Approved</td>
      </tr>
      <tr>
        <td>Brighton</td>
        <td>£1,321.88</td>
        <td>Amended</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p><a href="#">View claims for all months</a></p>

  <h2 class="heading-medium">
    Recent provider requests
  </h2>
  
  <table>
    <thead>
      <tr>
        <th>Date received</th>
        <th>Request made</th>
        <th>Request granted</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>09/12/2017</td>
        <td>Schedule amendment</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>09/10/2017</td>
        <td>Schedule amendment</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>01/07/2017</td>
        <td>Schedule amendment</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>

  <br>
  <p><a href="#">View all provider requests</a></p>

</main>

{% endblock %}
