{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li>Work reports and payments</li>
    </ol>
  </div>

  <h1 class="heading-large">Work Reports and Payments</h1>

  <h2 class="heading-medium"><a href="#">December 2017</a></h2>
  
  <p>5 days remaining until work report submission date.</p>

  <h3 class="heading-small">Amendments to prior claims</h3>
  
  <ul class="grid-row">
    
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">154</span>
        <span class="bold-small">data corrections</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">5</span>
        <span class="bold-small">voided claims</span>
      </a>

    </li>
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">12</span>
        <span class="bold-small">legal help changes</span>
      </a>
    </li>
  </ul>

  <h3 class="heading-small">Monthly work reports</h3>

  <ul class="grid-row">
    
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">51</span>
        <span class="bold-small">not received</span>
      </a>
      <div class="card__footer">
        <span class="font-small">
          <a href="">Send reminders</a>
        </span>
      </div>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">84</span>
        <span class="bold-small">received</span>
      </a>

    </li>
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">4</span>
        <span class="bold-small">flagged</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">80</span>
        <span class="bold-small">valid</span>
      </a>
    </li>
  </ul>

  <h3 class="heading-small">Payments</h3>
  
  <ul class="grid-row">
    
    <li class="card column-one-third">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">70</span>
        <span class="bold-small">unscheduled</span>
      </a>
      <div class="card__footer">
        <span class="font-small">
          <a href="">Schedule payments</a>
        </span>
      </div>
    </li>
    <li class="card column-one-third">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">6</span>
        <span class="bold-small">scheduled</span>
      </a>
      <div class="card__footer">
        <span class="font-small">
          Next payment run: 17 December
        </span>
      </div>
    </li>
    <li class="card column-one-third">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">4</span>
        <span class="bold-small">paid this month</span>
      </a>
    </li>
  </ul>


  <h2 class="heading-medium"><a href="#">November 2017</a></h2>
  
  <ul class="grid-row">
    
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">5</span>
        <span class="bold-small">in review</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">129</span>
        <span class="bold-small">paid</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">1</span>
        <span class="bold-small">amended</span>
      </a>
    </li>
  </ul>

  <h2 class="heading-medium"><a href="#">October 2017</a></h2>

  <ul class="grid-row">
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">1</span>
        <span class="bold-small">in review</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">133</span>
        <span class="bold-small">paid</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">9</span>
        <span class="bold-small">amended</span>
      </a>
    </li>
  </ul>

  <h2 class="heading-medium"><a href="">September 2017</a></h2>
  
  <ul class="grid-row">
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">0</span>
        <span class="bold-small">in review</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">134</span>
        <span class="bold-small">paid</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">15</span>
        <span class="bold-small">amended</span>
      </a>
    </li>
  </ul>


</main>

{% endblock %}
