{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="../v1/">Home</a></li>
      <li>Claims and Payments</li>
    </ol>
  </div>

  <h1 class="heading-large">Claims and Payments - 2017</h1>

  <div class="grid-row">
    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-medium">£35,170,230</span>
        <span class="data-item bold-xsmall">incoming claims</span>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-medium">£34,120,631</span>
        <span class="data-item bold-xsmall">outgoing payments</span>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-medium">-£1,693,141</span>
        <span class="data-item bold-xsmall">adjustments</span>
      </div>
    </div>
  </div>

  <p><a href="#">View all payment reports</a></p>

  <h2 class="heading-medium"><a href="#">October 2017</a></h2>

  <ul class="grid-row">
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">3</span>
        <span class="bold-small">flagged</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">100</span>
        <span class="bold-small">authorised</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">32</span>
        <span class="bold-small">paid</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">2</span>
        <span class="bold-small">on hold</span>
      </a>
    </li>
  </ul>

  <h2 class="heading-medium"><a href="">September 2017</a></h2>
  
  <ul class="grid-row">
    <li class="card column-one-quarter">
      <a href="claims-outstanding" class="card__body">
        <span class="bold-xlarge">2</span>
        <span class="bold-small">in review</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="#0" class="card__body">
        <span class="bold-xlarge">132</span>
        <span class="bold-small">paid</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">5</span>
        <span class="bold-small">amended</span>
      </a>
    </li>
    <li class="card column-one-quarter">
      <a href="claims-processed" class="card__body">
        <span class="bold-xlarge">2</span>
        <span class="bold-small">amends requested</span>
      </a>
    </li>
  </ul>


</main>

{% endblock %}
