{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h2 class="heading-medium">Management tools</h2>
  
  <h3 class="heading-small">for operational assurance</h3>

  <ul>
    <li><a href="claims">Work report - version 1</a></li>
    <li><a href="claims2">Work report - version 2</a></li>
  </ul>

  <h3 class="heading-small">for contract managers, central commissioning</h3>

  <ul>
    <li><a href="providers">Providers</a></li>
  </ul>

</main>

{% endblock %}
