{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Dashboard</h1>

  <h2 class="heading-medium">Claims, work reports and payments</h2>
  <ul>
    <li><a href="claims">Version 1</a></li>
    <li><a href="claims2">Version 2</a></li>
  </ul>

  <h2 class="heading-medium">Providers</h2>
  <ul>
      <li><a href="providers">Version 1</a></li>
    </ul>

</main>

{% endblock %}
