{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <form action="/sign-in" method="post" class="form">
        
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-xlarge">Upload and check your data</h1>
          </div>
          <div class="column-one-third">
            <p style="text-align: right">
              You are logged in as <a href="#">User 51</a><br>
              Last visit 13.11.2017
            </p></div>
        </div>

        <div class="form-group">
            <a href="landing-2" class="button button-secondary">Choose spreadsheet</a>
        </div>

      </form>

      <table>
          <thead>
            <tr>
              <th>File name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">Upload at least one file to continue</td>
            </tr>
          </tbody>
        </table>

    </div>
    
  </div>

</main>

{% endblock %}
