{% extends "layout.html" %}

{% block page_title %}
  Claim for Housing Possession Court Duty
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Claims outstanding</h1>

      <p><a href="" class="button button-secondary">Send chaser emails</a></p>
      <p class="font-xsmall">Claims due in 5 days</p>

      <table>
        <thead>
          <tr>
            <th>Scheme name</th>
            <th>Provider</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Altrincham, Stockport</a></td>
            <td>Keoghs and Nicholls Lindsell & Harris</td>
          </tr>
          <tr>
            <td><a href="">Aberdare, Merthyr Tydfil, Pontypridd</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Aberystwyth, Brecknock, Welshpool & Newtown</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Blackwood, Newport (Gwent), Pontypool</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Blackpool, Preston</a></td>
            <td>Keoghs and Nicholls Lindsell & Harris</td>
          </tr>
          <tr>
            <td><a href="">Bow</a></td>
            <td>Edwards Duthie</td>
          </tr>
          <tr>
            <td><a href="">Bridgend, Cardiff</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Caernarfon, Conwy & Colwyn, Llangefni</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Carmarthen, Haverfordwest, Llanelli</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Chester, Crewe, Macclesfield</a></td>
            <td>Keoghs and Nicholls Lindsell & Harris</td>
          </tr>
          <tr>
            <td><a href="">Edmonton</a></td>
            <td>Edwards Duthie</td>
          </tr>
          
          <tr>
            <td><a href="">Mold, Rhyl, Wrexham</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Neath & Port Talbot, Swansea</a></td>
            <td>Shelter Cymru</td>
          </tr>
          <tr>
            <td><a href="">Romford</a></td>
            <td>Edwards Duthie</td>
          </tr>
          
        </tbody>
      </table>

    </div>  
  </div>

</main>

{% endblock %}
