{% extends "layout.html" %}

{% block page_title %}
  Upload
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/sign-in" method="post" class="form">
        
        <h1 class="heading-large">Upload Contract Report form</h1>
        
        <div class="form-group">
          <fieldset>
      
            <legend>
              <h1 class="heading-medium">Which month and year is th</h1>
            </legend>
      
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="november2017">
              <label for="radio-1">November 2017</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="december2017">
              <label for="radio-2">December 2017</label>
            </div>
            
            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="radio-group" value="january2018">
              <label for="radio-3">January 2018</label>
            </div>
      
          </fieldset>
        </div>

        <div class="form-group">
          <a href="upload-1" class="button button-secondary">Choose your file</a>
        </div>

        <div class="form-group" style="margin-top: 30px;">
            <input class="button" type="submit" value="Continue" disabled="disabled" aria-disabled="true">
        </div>

      </form>

    </div>
    
  </div>

</main>

{% endblock %}
