{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Claims Dashboard</h1>
    </div>
    <div class="column-one-third">
      <p style="text-align: right">
        You are logged in as <a href="#">User 51</a><br>
        Last visit 13.11.2017
      </p></div>
  </div>

  <h2 class="heading-large">All unsubmitted cases</h2>
  
  <h3 class="heading-small">Next claim due on December 10 2017</h3>

  <div class="grid-row">
    <div class="column-one-third">
        <span class="data heading-xlarge">
          <span class="heading-secondary">To be claimed</span>
          £365.24
        </span>
        <p><a href="submitted-cases">See cases overview</a></p>
    </div>
    <div class="column-one-third">
        <span class="data heading-xlarge">
          <span class="heading-secondary">Number of cases</span>
          12
        </span>
        <p><a href="submitted-cases">See cases</a></p>
    </div>
    <div class="column-one-third">
        <div class="form-group">
            <p><a href="http://laa-opa-aws.webhop.org/claim-for-housing-possession-court-duty-mobile/" class="button">Add case</a></p>
            <p class="text-secondary">Or upload your cases in XLS format
            <a href="submitted-cases" class="button button-secondary">Choose file</a></p>
          </div>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-medium">Other actions</h2>
      <ul>
        <li><a href="submitted-claims">Submitted claims</a></li>
        <li><a href="user-account">User account</a></li>
      </ul>
    </div>
  </div>

</main>

{% endblock %}
