{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">


      <form action="/sign-in" method="post" class="form">
        
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-xlarge">Welcome</h1>
          </div>
          <div class="column-one-third">
            <p style="text-align: right">
              You are logged in as <a href="#">User 51</a><br>
              Last visit 13.11.2017
            </p></div>
        </div>

        <h2 class="heading-medium">November 2017  (unsubmitted)</h2>
        <p><a href="submitted-cases">View November 2017 claim</a></p>
        <div class="grid-row">
          <div class="column-one-third">
            <h2 class="heading-small">Add a single case</h2>
            <p>Add a single case to November 2017's claim.</p>
            <div class="form-group">
              <a href="http://laa-opa-aws.webhop.org/claim-for-housing-possession-court-duty-mobile/" class="button">Add new case</a>
            </div>
          </div>
          <div class="column-one-third">
            <h2 class="heading-small">Add multiple cases</h2>
            <p>Bulk upload multiple cases to November's 2017 claim.</p>
            
    
            <div class="form-group">
                <a href="errors-in-file" class="button button-secondary">Choose file</a>
            </div>
          </div>
          <div class="column-one-third"></div>
        </div>

        

        <div class="grid-row">
            <div class="column-full">

        

        <h2 class="heading-medium">Other actions</h2>
        <ul>
          <li><a href="submitted-claims">Submitted claims</a></li>
          <li><a href="user-account">User account</a></li>
        </ul>

      </form>

    </div>
    
  </div>

</main>

{% endblock %}
