{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Your submitted claims</h1>
      

      <p>17 claims submitted</p>

      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Reference</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>17/11/2017</td>
            <td>NOV2017PV2</td>
            <td>£6,341.23</td>
            <td>Submitted</td>
          </tr>
          <tr>
            <td>15/10/2017</td>
            <td>OCT2017PV2</td>
            <td>£4,341.23</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>17/09/2017</td>
            <td>SEP2017PV2</td>
            <td>£4,947.67</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>15/08/2017</td>
            <td>AUG2017PV2</td>
            <td>£8,247.17</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>17/07/2017</td>
            <td>JUL2017PV2</td>
            <td>£6,341.23</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>15/06/2017</td>
            <td>JUN2017PV2</td>
            <td>£4,341.23</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>15/05/2017</td>
            <td>MAY2017PV2</td>
            <td>£4,947.67</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>14/04/2017</td>
            <td>APR2017PV2</td>
            <td>£8,247.17</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>17/03/2017</td>
            <td>MAR2017PV2</td>
            <td>£6,341.23</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>12/02/2017</td>
            <td>FEB2017PV2</td>
            <td>£4,341.23</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>17/01/2017</td>
            <td>JAN2017PV2</td>
            <td>£4,947.67</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td>15/12/2016</td>
            <td>DEC2016PV2</td>
            <td>£8,247.17</td>
            <td>Paid</td>
          </tr>
        </tbody>
      </table>

    </div>
    
  </div>

</main>

{% endblock %}
