{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Claim for Housing Possession Court Duty
      </h1>
      
      <h2 class="heading-medium">Prototypes</h2>


      <h3 class="heading-small">Sprint 1</h2>

      <ul class="list list-bullet">
        <li><a href="v1/index">Version 1</a></li>
        <li><a href="v2/index">Version 2</a></li>
        <li><a href="v3/index">Version 3</a></li>
      </ul>



    </div>
  </div>
</main>

{% endblock %}
