{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Prototypes
      </h1>

      <h2 class="heading-medium">Sprint 2</h2>

      <h3 class="heading-small">Provider-facing prototypes</h3>

      <ul class="list list-bullet">
        <li><a href="v1/index">Prototype 1</a></li>
        <li><a href="v2/index">Prototype 2</a></li>
        <li><a href="v3/index">Prototype 3</a></li>
        <li><a href="http://laa-opa-aws.webhop.org/claim-for-housing-possession-court-duty/">Prototype 4</a></li>
      </ul>

      <h2 class="heading-medium">Sprint 3</h2>
        
      <h3 class="heading-small">Provider-facing prototypes</h3>      

      <ul class="list list-bullet">
        <li><a href="v5/">Prototype 5</a></li>
      </ul>

      <h3 class="heading-small">Management tools</h2>

      <ul class="list list-bullet">
        <li><a href="management/v1/">Idea 1</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
